
body{
    /* background-color: darkslategrey; */
    background-color: black;
    color: whitesmoke;
    /* font-family: 'Oxanium'; */
    font-family: 'Piedra', cursive;}
/* 
.componentheader{
position:static
}

.componentfooter{
    display: flex;
    width: 100%;
    margin-bottom: 3vh;
} */ 


@media only screen and (max-width: 650px) {

    /* .componentheader{
        display: flex !important;
        width: 100%;
        justify-content: center;

    }
    
    .componentfooter{
        display: none !important;
        width: 100%;
        justify-content: center;

    } */

}